.banner {
	background-color: var(--background);
	position: sticky;
	top: 0;
	z-index: 2;
	display: flex;
}

.banner ul {
	margin: 0;
}

.banner	ul li {
	display: inline-block;
	width: auto;
	padding: 10px;
	font-weight: bold;
}
