.banner {
	background-color: var(--background);
	position: sticky;
	top: 0;
	z-index: 2;
	display: flex;
}

.banner ul {
	margin: 0;
}

.banner	ul li {
	display: inline-block;
	width: auto;
	padding: 15px;
	font-weight: bold;
}

@media (max-width: 768px) {
	.banner {
		padding: 0 2rem;
	}

	.banner ul li {
		font-size: 16px;
		padding: 10px;
	}
}