.footer {
  position: sticky;
  padding: 10px;
  bottom: 0;
  z-index: 2;
  background-color: var(--background);
  text-align: center;
  border-top: 1px solid var(--bodytext);
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footer ul li {
  display: inline-block;
  width: auto;
  padding: 5px;
}

.footer small {
  display: block;
}