:root {
  --background: #F0FFF0;
  --visitedlinktext: #213821; 
  --hoverlinktext: #008000;
  --linktext: #173c17;
  --headertext: #005000;
  --bodytext: #005000;
}

html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--background);
  color: var(--bodytext);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--headertext);
}

a {
  color: inherit;
  text-decoration: none;
  color: var(--bodytext);
  transition: color .5s;
}

a:hover {
  text-decoration: underline;
  color: var(--hoverlinktext);
}

ul {
  padding-left: 0;
  list-style-type: none;
}

:link { color: var(--linktext); }
:visited { 
  color: var(--visitedlinktext); 
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 20px;
  }
} 